.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 10px
}


.top-nav{
    width: 930px;
    height: 100px;
    margin: 10px;
    background-color: green;
}

.side-nav{
    height: 300px;
    margin: 10px;
    width: 200px;
    background-color: blue;
}

.main{
    height: 400px;
    margin: 10px;
    width: 650px;
    background-color: red;
    padding: 5px;
    
}

.sub-content{
    display: inline-block;
    background-color: yellow;
    width: 175px;
    height: 175px;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;


}

#advertisement{
    background-color: purple;
    width: 550px;
    height: 150px;
    box-sizing: border-box;
    padding: 20px;
    margin: 5px;
}


.side-nav, .main{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.sub-content{
    display: inline-block;
}