body{
    background-color: darkgrey;
}


.top-nav{
    width: 685px;
    height: 100px;
    margin: 10px;
    background-color: green;
}

.side-nav{
    height: 220px;
    margin: 10px;
    width: 150px;
    background-color: blue;
}

.main{
    height: 300px;
    margin: 10px;
    width: 500px;
    background-color: red;
    padding: 5px;
    
}

.sub-content{
    display: inline-block;
    background-color: yellow;
    width: 140px;
    height: 140px;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;


}

#advertisement{
    background-color: purple;
    width: 445px;
    height: 100px;
    box-sizing: border-box;
    padding: 20px;
    margin: 5px;
}


.side-nav, .main{
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.sub-content{
    display: inline-block;
}